body {
  font-size: 15px;
  font-family: "Lucida Sans Unicode", sans-serif;
  border: #d3d3d3 5px solid;
  text-align:justify;
  margin: 10px auto;
  padding: 10px;
  width: 900px;
}
.menu{
  float: left;
  width: 100px;
  margin:20px;
  padding:0;
  list-style-type: none;
}
h1 {
  text-align: center;
  color: rgb(22, 170, 22);
  letter-spacing: 0.2em;
}
h1 span {
  color: rgb(226, 158, 68);
}

h3 {
  color: rgb(51, 210, 30);
  border-bottom: #cfdfb5 1px solid;
}

h4 {
  color: rgb(184, 124, 11);
  margin-top: 20px;
}

.principal {
  border: #d3d3d3 1px solid;
  margin: 20px 20px 10px 140px;
  padding: 10px 15px;
}

.menu li{
  border: #d3d3d3 1px solid;
  background-color: rgb(152, 238, 131);
  font-size: 90%;
  text-align: center;
  line-height: 30px;
  margin-bottom: 5px;
}

.menu a{
  display: block;
  text-decoration: none;
  color:#535252;
}

.menu li:hover{
  border-color: mediumpurple;
  background-color: #d5e7a8;
}

.menu li:hover a{
  color: black;
}

.menu li.selected{
  border: #d3d3d3 1px solid;
  background-color: #E5CDB2;
}

menu li.selected:hover{
  border: #d3d3d3 1px solid;
  background-color: #E5CDB2;
}

menu li.selected a{
  color:black;
}
menu li.selected:hover a{
  color:black;
}

